.background {
      background: linear-gradient(180deg,  #87CEEB,#0000FF);
      text-align: center;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-grow: 1;
  }

.book-list-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
}