.cart-book-detail{
    display: flex;
    gap: 20px;
}

.buy-container{
    display: flex;
    align-items: center;
    justify-content: center;

    Button{
        margin-left: 20px;
        width: 100px;
    }
}

