.profile-button-group{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.upload-button{
    margin-top: 20px;
    max-width: 100%;
}